<%- include( 'templates/head' ) %>
<body>
    <%- include( 'templates/navbar' ) %>
    <!-- Tengo que tener vista del carrito con mis productos, una de todos los productos y otra de mi perfil -->
    <%= user =%>
</body>
</html>